* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#backgroundVideo {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100vw;      
  height: 100vh;     
  object-fit: cover;  
  z-index: -1;       
}

#canvas {
  border: 1px solid black;
}